<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lrdzero.accidenteagil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inicio.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio.ForgotPass"
            android:label="@string/title_activity_forgot_pass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inicio.Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Implicado"
            android:label="@string/title_activity_datos_iniciales"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Circunstancias"
            android:label="@string/title_activity_seleccion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Posicionamiento"
            android:label="@string/title_activity_posicionamiento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SeleccionVehiculo" />
        <activity android:name=".DatosIniciales"></activity>
    </application>

</manifest>
